</head>
<body>
  <nav>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD Flight
    </a>
    <a 
      href="/flights/" class=<%= title === 'Flights List' ? 'active' : '' %> 
    >
      ALL Flights
    </a>
  </nav>