</head>
<body>
  <nav>
    <i class="fas fa-plane fa-2x"></i>
    <a href="/meals/new" class="<%= title === 'Add Meals' ? 'active' : '' %>"
    >
      ADD Meals
  </a>
    <a 
      href="/flights/new" class=<%= title === 'New Flight' ? 'active' : '' %>
    >
      ADD Flight
    </a>
    <a 
      href="/flights/" class=<%= title === 'Flights List' ? 'active' : '' %> 
    >
      ALL Flights
    </a>
  </nav>